{% extends "baseManage.html" %}
{% block content %}
    <aside class="col-sm-3 col-md-2 col-lg-2 sidebar">
        <ul class="nav nav-sidebar">
            <li class="active" id="webInfo_1" onclick="changeAdminManage('webInfo_1')"><a>Website Report</a></li>
        </ul>
        <ul class="nav nav-sidebar">
            <li id="webUser_1" onclick="changeAdminManage('webUser_1')"><a>Member Management</a></li>
            <li id="webComment_1" onclick="changeAdminManage('webComment_1')"><a>Comment Management</a></li>
            <li id="webDrafted_1" onclick="changeAdminManage('webDrafted_1')"><a>Draft Review</a></li>
            <li id="webArticle_1" onclick="changeAdminManage('webArticle_1')"><a>Article Management</a></li>
            <li id="webType_1" onclick="changeAdminManage('webType_1')"><a>Column Management</a></li>
            <li id="webCredit_1" onclick="changeAdminManage('webCredit_1')"><a>Point Management</a></li>
            <li id="webLog_1" onclick="changeAdminManage('webLog_1')"><a>User Login Record</a></li>
        </ul>
        <ul class="nav nav-sidebar">
            <li id="webContact_1" onclick="changeAdminManage('webContact_1')"><a>Contact Administrator</a></li>
            <li id="webGetCredit_1" onclick="changeAdminManage('webGetCredit_1')"><a>How do I earn points?</a></li>
        </ul>
    </aside>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="webInfo">
        <h1 class="page-header">Articles Overview</h1>
        <div class="row placeholders">

        <div class="col-xs-6 col-sm-3 placeholder" onclick="changeAdminManage('webUser_1')">
                <h4>User Number</h4>
                <span class="text-muted">{{ webInfo["allUserNum"] }}</span></div>
            <div class="col-xs-6 col-sm-3 placeholder" onclick="changeAdminManage('webArticle_1')">
                <h4>Articles</h4>
                <span class="text-muted">{{ webInfo["allNumOfArticle"] }}</span></div>
            <div class="col-xs-6 col-sm-3 placeholder" onclick="changeAdminManage('webComment_1')">
                <h4>Comments</h4>
                <span class="text-muted">{{ webInfo["allArticleReply"] }}</span></div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <h4>Article Visits</h4>
                <span class="text-muted">{{ webInfo["allArticleRead"] }}</span></div>

        </div>
        <h1 class="page-header">System Information</h1>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr></tr>
                </thead>
                <tbody>
                <tr>
                    <td>Admin Num:</td>
                    <td>{{ webInfo["numOfAdmin"] }}</td>
                    <td>Editor Num:</td>
                    <td>{{ webInfo["numOfEditor"] }}</td>
                </tr>
                <tr>
                    <td>User Num:</td>
                    <td>{{ webInfo["numOfUser"] }}</td>
                    <td>Python Version:</td>
                    <td>{{ webInfo["pythonVersion"] }}</td>
                </tr>
                <tr>
                    <td>Operating System:</td>
                    <td>{{ webInfo["platForm"] }}</td>
                    <td>MySql Version:</td>
                    <td>{{ webInfo["mysqlVersion"] }}</td>
                </tr>
                <tr>
                    <td>Program Coding:</td>
                    <td>UTF-8</td>
                    <td>Server last start time:</td>
                    <td>{{ webInfo["lastServeTime"] }}</td>
                </tr>
                <tr>
                    <td>Article Category</td>
                    <td>{{ webInfo["classification"] }}</td>
                    <td>Points required for posting optional articles</td>
                    <td>{{ webInfo["creditListForReleaseArticle"] }}</td>
                </tr>

                <tr>
                    <td>Maximum number of comments per person per day</td>
                    <td>{{ webInfo["commentNum"] }}</td>
                    <td>New user registration bonus points/td>
                    <td>{{ webInfo["regGiveCredit"] }}</td>
                </tr>
                <tr>
                    <td>Daily login bonus points</td>
                    <td>{{ webInfo["loginEvereDayCredit"] }}</td>
                    <td>Post a post and get points</td>
                    <td>{{ webInfo["postArticleCredit"] }}</td>
                </tr>
                <tr>
                    <td>Add a comment to get points</td>
                    <td>{{ webInfo["replyAndAddCommentCredit"] }}</td>
                    <td>The percentage of points received by the author</td>
                    <td>{{ webInfo["rateCreditForArticle"] }}</td>
                </tr>
                <tr>
                    <td>How many articles are displayed per page</td>
                    <td>{{ webInfo["howArticleInWeb"] }}</td>
                    <td>How many comments to display per post</td>
                    <td>{{ webInfo["howCommentInArticle"] }}</td>
                </tr>
                <tr>
                    <td>Maximum number of articles to be submitted per day by regular users</td>
                    <td>{{ webInfo["maxUserPostArticleNum"] }}</td>
                    <td>The maximum number of articles an editor can publish per day</td>
                    <td>{{ webInfo["maxUserPostArticleNumOfEditor"] }}</td>
                </tr>
                <tr>
                    <td>The maximum number of times an author can edit an article per day</td>
                    <td>{{ webInfo["maxModifyArticleNum"] }}</td>
                    <td>Number of most read, most recently read, author recommended articles</td>
                    <td>{{ webInfo["recommendedNumOfSide"] }}</td>
                </tr>
                <tr>
                    <td>Maximum number of images to be uploaded per person per day</td>
                    <td>{{ webInfo["maxUploadPicNum"] }}</td>
                    <td>Language of ueditor editor</td>
                    <td>{{ webInfo["ueiditorLanguage"] }}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr></tr>
                </tfoot>
            </table>
        </div>
        <footer>
            <h1 class="page-header">Program Information</h1>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tbody>
                    <tr>
                        <td onclick="location.href='https://github.com/sanxiadaba/pythonBlog'"><span
                                style="display:inline-block; width:8em">Author</span> @github/sanxiadaba/pythonBlog
                        </td>
                    </tr>
                    <tr>
                        <td><span style="display:inline-block;width:8em">Page load time</span>{{ webInfo["loadTime"] }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </footer>

    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="webUser"></div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="webComment"></div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="webDrafted"></div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="webArticle"></div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="webType"></div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="webCredit"></div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="webLog"></div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="webContact"></div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="webGetCredit"></div>

{% endblock %}

{#Before implementing the "Memory" tab jump#}
<script type="text/javascript">
    function myfun_4() {
        alert(1)
        $.get("/adminTiaoNum", function (data) {
            if (data === "0") {
                return false
            } else if (data === "1") {
                changeAdminManage('webInfo_1')
            } else if (data === "2") {
                changeAdminManage('webUser_1')
            } else if (data === "3") {
                changeAdminManage('webComment_1')
            } else if (data === "4") {
                changeAdminManage('webDrafted_1')
            } else if (data === "5") {
                changeAdminManage('webArticle_1')
            } else if (data === "6") {
                changeAdminManage('webType_1')
            } else if (data === "7") {
                changeAdminManage('webCredit_1')
            } else if (data === "8") {
                changeAdminManage('webLog_1')
            } else if (data === "9") {
                changeAdminManage('webContact_1')
            } else if (data === "10") {
                changeAdminManage('webGetCredit_1')
            }

        })


    }

    window.onload = myfun_4;//No brackets
</script>

