{% extends "baseManage.html" %}
{% block content %}
    <aside class="col-sm-3 col-md-2 col-lg-2 sidebar">
        <ul class="nav nav-sidebar">
            <li class="active" id="webInfo_1"><a>Website Report</a></li>
        </ul>
        <ul class="nav nav-sidebar">
            <li id="webUser_1"><a>Member Management</a></li>
            <li id="webComment_1"><a>Comment Management</a></li>
            <li id="webDrafted_1"><a>Draft Review</a></li>
            <li id="webArticle_1"><a>Article Management</a></li>
            <li id="webType_1"><a>Column Management</a></li>
            <li id="webCredit_1"><a>Point Management</a></li>
            <li id="webLog_1"><a>User Login Record</a></li>
        </ul>
<ul class="nav nav-sidebar">
            <li id="webContact_1"><a>Contact Administrator</a></li>
            <li id="webGetCredit_1"><a>How do I earn points?</a></li>
        </ul>
    </aside>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="webInfo"></div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="webUser"></div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="webComment"></div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="webDrafted"></div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="webArticle"></div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="webType"></div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="webCredit"></div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="webLog"></div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="webContact"></div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="webLog"></div>

{% endblock %}