
<script>
{#     先事先定义好一些需要用到的变量#}
{# 定位回复评论的id#}
    var COMMENTID = 0;
    {#定位这是第几页（再评论中）#}
    var PAGE = 1;
    {#判断总共有多少的文章#}
    var TOTAL = parseInt("{{total}}");
    // 阅读全部文章
 function readAll() {
        var xiaohao = parseInt("{{article.credit}}")
        var btn = document.getElementById('get_ct_more_1');
        var obj = document.getElementById('content_t');
        var total_height = obj.scrollHeight;//文章总高度
        var show_height = 300;//定义原始显示高度
        var restOfCredit = parseInt("{{ restOfCredit }}")
        if (xiaohao === 0 || "{{article.paid}}" === "true") {
            if (total_height > show_height) {
                btn.style.display = 'block';
                obj.style.height = total_height + 'px';
                btn.style.display = 'none';
            }
            return false
        } else {
            if ("{{article.paid}}" === "false") {
                a = confirm("确定消耗" + xiaohao + "积分来阅读文章吗？"); //在页面上弹出对话框
                if (a === true) {
                    if (xiaohao > restOfCredit) {
                        bootbox.alert({title: "错误提示", message: "积分不足，无法阅读文章"})
                        qingti("积分不足")
                        return false
                    }
                    var parm = "articleid={{article.articleid}}"
                    $.post("/readAll", parm, function (data) {
                        if (data === "1") {
                            if (total_height > show_height) {
                                btn.style.display = 'block';
                                obj.style.height = total_height + 'px';
                                btn.style.display = 'none';
                            }
                            qingti("您当前还有" + (restOdCredit - xiaohao) + "积分")
                            return false
                        }
                    })
                } else {
                    return false;

                }


            }

        }


    }
</script>


<style>
    .article-detail .content_t {
        padding: 10px 12px 48px;
        font-size: 18px;
        color: #2b2b2b;
        line-height: 1.7em;
        height: 700px; /*初始要显示的高度*/
        overflow: hidden; /*关键样式：内容会被修剪，并且其余内容是不可见的。*/
        position: relative;

    }

    .article-detail .get_ct_more_1 button {
        height: 45px;
        background-color: #337ab7;
        border: 0;
        border-radius: 5px;
        color: white;
        font-weight: bold;
    }

    .article-detail .get_ct_more_1 {
        height: 78px;
        position: absolute;
        bottom: 0px;
        width: 100%;
        background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0) 70%);
        margin: 0px;
        margin-right: 10px
    }

    .article-detail .get_ct_more_2 button {
        height: 45px;
        background-color: #337ab7;
        border: 0;
        border-radius: 5px;
        color: white;
        font-weight: bold;
    }

    .article-detail .get_ct_more_2 {
        height: 78px;
        position: absolute;
        bottom: 0px;
        width: 100%;
        background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0) 70%);
        margin: 0px;
        margin-right: 10px
    }

    .article-detail .readall {
        margin: 20px 35px;
        text-align: center;
    }

    .article-detail .readall button {
        height: 45px;
        background-color: #337ab7;
        border: 0;
        border-radius: 5px;
        color: white;
        font-weight: bold;
    }

    /*    */

</style>
{% extends "baseArticle.html" %}
{% block artical %}
    <div class="col-lg-9 col-sm-12" style="padding-top:11px ">
        <div class="col-12 row article-detail">
            <div class="col-9 title">
                {{ article.headline }}
            </div>
            <div class="col-3 favorite" onclick="test()">
                {% if is_favorite==True %}
                    <label class="favorite-btn" onclick="cancel_favorite('{{ article.articleid }}')"><span
                            class="oi oi-heart"
                            aria-hidden="true" style="color: red"></span>
                        取消收藏</label>
                {% else %}
                    <label class="favorite-btn" onclick="add_favorite('{{ article.articleid }}')"><span
                            class="oi oi-heart "
                            aria-hidden="true"></span>
                        收藏文章</label>
                {% endif %}
            </div>
            <div class="col-12 info">
                作者：{{ article.nickname }} 类别：{{ article_type[article.type | string] }}
                日期：{{ article.createtime }}
                阅读：{{ article.readcount }} 次 消耗积分：<font color="red">{{ article.credit }} 分</font>
            </div>
            <div class="col-12 content_t" id="content_t">
                {{ article.content | safe }}
            {% if session.get("userid")==articleOfUserid %}
            <button class="form-control btn-primary col-2" onclick="modifyArticle({{ articleid }})">修改文章</button>
            {% endif %}
            </div>

            <div class="col-12 readall ">
                {% if session.get("islogin")=="true" %}
                    <div onclick="readAll()">
                        <button class="col-sm-10 col-12 get_ct_more_1" id="get_ct_more_1" style="display:block;">
                            {% if article.credit==0 or article.paid=="true" %}
                                <span class="oi oi-data-transfer-download" aria-hidden="true"></span> 点击阅读全文
                            {% else %}
                                <span class="oi oi-data-transfer-download" aria-hidden="true"></span> 阅读全文 消耗积分：
                                {{ article.credit }}分
                            {% endif %}
                        </button>
                    </div>

                {% else %}}
                    <div href="#" onclick="showLogin()">
                        <button class="col-sm-10 col-12 get_ct_more_2" id="get_ct_more_2" style="display:block;">
                            <span class="oi oi-data-transfer-download" aria-hidden="true"></span> 登录后才能查看全文
                        </button>
                    </div>

                {% endif %}
            </div>

        </div>


        <div class="col-12 article-nav">
            <div><a href="/article/{{ prev_next.prev_id }}">上一篇:{{ prev_next.prev_headline }}</a></div>
            <div><a href="/article/{{ prev_next.next_id }}">下一篇:{{ prev_next.next_headline }}</a></div>
        </div>
        <!-- 文章评论 -->
        <div class="col-12 article-comment">
            <div class="col-12 row">
                <div class="col-2">
                    <label for="nickname">你的昵称：</label>
                </div>

                <div class="col-10">
                    {% if session.get("islogin") %}
                        <input type="text" id="nickname_1" class="form-control" value="{{ session.get('nickname') }}"
                               readonly/>
                    {% else %}
                        <input type="text" id="nickname_2" class="form-control" value="你还未登录，双击此处可登录" readonly
                               ondblclick="showLogin()"/>
                    {% endif %}
                </div>

            </div>

            <div class="col-12 row" style="padding-top: 10px">
                <div class="col-2">
                    <label for="comment">你的评论：</label>
                </div>
                <div class="col-10">
                    <textarea class="form-control " style="height: 100px" id="comment"></textarea>
                </div>
            </div>

            <div class="col-12 row" style="padding-top: 10px">
                <div class="col-12" style="text-align: right">
                    {% if session.get("islogin")=="true" %}
                        <button class="btn btn-primary" onclick="addCommnet('{{ article.articleid }}')"
                                style="margin-bottom:8px;"
                                id="submitBtn">提交评论
                        </button>
                        <button type="button" class="btn btn-primary" onclick="replyComment('{{ article.articleid }}')"
                                style="display: none;margin-bottom:8px;" id="replyBtn">回复评论
                        </button>
                    {% else %}
                        <button class="btn btn-primary" onclick="showLogin()" style="margin-bottom:8px;">点击登录</button>
                    {% endif %}
                </div>
            </div>

            <div id="commentDiv">


                {% for comment in comment_list %}
                    {% set thisIndex=loop.index0 %}
                    <div class="col-12 list row" id="returnArticle{{ thisIndex }}" style="">
                        <div class="col-2 icon">
                            <img  src="/static/img/avatar/{{ comment['avatar'] }}" class="img-fluid img-circle"
                                 style="width: 80px;height: 80px;border-radius: 50%" />
                        </div>
                        <div class="col-10 comment">
                            <div class="col-12 row" style="padding: 0px">
                                <div class="col-7 commenter">{{ comment.nickname }}&nbsp;&nbsp;&nbsp;{{ comment.createment }}</div>
                                <div class="col-5 reply">
                                    <!--                        文章作者、管理员和评论员只能回复和删除评论，不能点赞-->
                                    {% if article.userid==session.get("userid") or session.get("role")=="admin" or
                            comment.userid==session.get("userid") %}
                                        <label onclick="gotoReply('{{ comment.commentid }}')">
                                            <span class="oi oi-arrow-circle-right" aria-hidden="true"
                                                  style="color:#337ab7;"></span>回复
                                        </label>&nbsp;&nbsp;&nbsp;
                                        <label onclick="hideComment(this,'{{ comment.commentid }}',1,{{ thisIndex }},-1)">
                                            <span class="oi oi-delete" aria-hidden="true"></span>删除评论
                                        </label>
                                    {% else %}

                                        <label onclick="gotoReply('{{ comment.commentid }}')">
                                            <span class="oi oi-arrow-circle-right" aria-hidden="true"></span>回复
                                        </label>&nbsp;&nbsp;
                                        {% if comment["agreeOrdisAgreeType"]==1 %}
                                            <label onclick="cancle_agreeComment(this,'{{ comment.commentid }}','{{ comment["agreecount"] }}')"
                                                   style="visibility: visible;" id="agreeComment1">
                                            <span class="oi oi-chevron-bottom"
                                                  aria-hidden="true"></span><font
                                                    color="red">取消赞成(<span>{{ comment["agreecount"] }}</span>)</font>
                                            </label>&nbsp;&nbsp;
                                            <label onclick="opposeComment(this,'{{ comment.commentid }}','{{ comment["opposecount"] }}')"
                                                   style="visibility: hidden;" id="opposeComment1">
                                                <font color=""><span class="oi oi-x"
                                                                     aria-hidden="true"></span>反对(<span>{{ comment["opposecount"] }}</span>)</font>
                                            </label>
                                        {% elif comment["agreeOrdisAgreeType"]==-1 %}
                                            <label onclick="agreeComment(this,'{{ comment.commentid }}','{{ comment["agreecount"] }}')"
                                                   style="visibility: hidden;" id="agreeComment1">
                                            <span class="oi oi-chevron-bottom"
                                                  aria-hidden="true"></span><font>赞成(<span>{{ comment["agreecount"] }}</span>)</font>
                                            </label>&nbsp;&nbsp;

                                            <label onclick="cancle_opposeComment(this,'{{ comment.commentid }}','{{ comment["opposecount"] }}')"
                                                   style="visibility: visible;" id="opposeComment1">
                                                <font color="red"><span class="oi oi-x"
                                                                        aria-hidden="true"></span>取消反对(<span>{{ comment["opposecount"] }}</span>)</font>
                                            </label>
                                        {% else %}
                                            <label onclick="agreeComment(this,'{{ comment.commentid }}','{{ comment["agreecount"] }}')"
                                                   style="visibility: visible;" id="agreeComment1">
                                            <span class="oi oi-chevron-bottom"
                                                  aria-hidden="true"></span><font>赞成(<span>{{ comment["agreecount"] }}</span>)</font>
                                            </label>&nbsp;&nbsp;

                                            <label onclick="opposeComment(this,'{{ comment.commentid }}','{{ comment["opposecount"] }}')"
                                                   style="visibility: visible;" id="opposeComment1">
                                                <font color=""><span class="oi oi-x"
                                                                     aria-hidden="true"></span>反对(<span>{{ comment["opposecount"] }}</span>)</font>
                                            </label>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12 content">
                                {{ comment.content }}
                            </div>
                        </div>
                    </div>
                    <!--        回复评论-->
                    {% if comment["reply_list"] %}
                        {% for reply in comment["reply_list"] %}
                            {% set thatIndex=loop.index0 %}
                            <div class="col-12 list row" id="returnComment{{ thisIndex }}{{ thatIndex }}" style="">
                                {#                            style="display: block" id="returnArticle2"#}
                                <div class="col-2 icon">
                                    <img src="/static/img/avatar/{{ reply['avatar'] }}" class="img-fluid"
                                         style="width: 55px;height: 55px ;border-radius: 50%"/>
                                </div>

                                <div class="col-10 comment" style="border: solid 1px #ccc">
                                    <div class="col-12 row" style="padding-left: 15px">
                                        <div class="col-7 commenter" style="color: #337ab7">{{ reply.nickname }}&nbsp;&nbsp;回复&nbsp;&nbsp;{{ comment.nickname }}
                                            &nbsp;&nbsp;&nbsp;{{ reply.createment }}
                                        </div>
                                        <div class="col-5 reply">
                                            {#                                        管理员或者作者的话可以选择删除评论该评论#}
                                            {% if article.userid==session.get("userid") or session.get("role")=="admin" or
                            comment.userid==session.get("userid") %}
                                                <label onclick="hideComment(this,'{{ comment.commentid }}',2,{{ thisIndex }},{{ thatIndex }})">
                                                    <span class="oi oi-delete" aria-hidden="true"></span>删除评论
                                                </label>
                                            {% else %}
                                                {% if comment["agreeOrdisAgreeType"]==1 %}

                                                    <label onclick="cancle_agreeComment(this,'{{ comment.commentid }}','{{ comment["agreecount"] }}')"
                                                           style="visibility: visible;" id="agreeComment1">
                                            <span class="oi oi-chevron-bottom"
                                                  aria-hidden="true"></span><font
                                                            color="red">取消赞成(<span>{{ comment["agreecount"] }}</span>)</font>
                                                    </label>&nbsp;&nbsp;

                                                    <label onclick="opposeComment(this,'{{ comment.commentid }}','{{ comment["opposecount"] }}')"
                                                           style="visibility: hidden;" id="opposeComment1">
                                                        <font color=""><span class="oi oi-x"
                                                                             aria-hidden="true"></span>反对(<span>{{ comment["opposecount"] }}</span>)</font>
                                                    </label>
                                                {% elif comment["agreeOrdisAgreeType"]==-1 %}
                                                    <label onclick="agreeComment(this,'{{ comment.commentid }}','{{ comment["agreecount"] }}')"
                                                           style="visibility: hidden;" id="agreeComment1">
                                            <span class="oi oi-chevron-bottom"
                                                  aria-hidden="true"></span><font>赞成(<span>{{ comment["agreecount"] }}</span>)</font>
                                                    </label>&nbsp;&nbsp;

                                                    <label onclick="cancle_opposeComment(this,'{{ comment.commentid }}','{{ comment["opposecount"] }}')"
                                                           style="visibility: visible;" id="opposeComment1">
                                                        <font color="red"><span class="oi oi-x"
                                                                                aria-hidden="true"></span>取消反对(<span>{{ comment["opposecount"] }}</span>)</font>
                                                    </label>
                                                {% else %}
                                                    <label onclick="agreeComment(this,'{{ comment.commentid }}','{{ comment["agreecount"] }}')"
                                                           style="visibility: visible;" id="agreeComment1">
                                            <span class="oi oi-chevron-bottom"
                                                  aria-hidden="true"></span><font>赞成(<span>{{ comment["agreecount"] }}</span>)</font>
                                                    </label>&nbsp;&nbsp;

                                                    <label onclick="opposeComment(this,'{{ comment.commentid }}','{{ comment["opposecount"] }}')"
                                                           style="visibility: visible;" id="opposeComment1">
                                                        <font color=""><span class="oi oi-x"
                                                                             aria-hidden="true"></span>反对(<span>{{ comment["opposecount"] }}</span>)</font>
                                                    </label>
                                                {% endif %}
                                            {% endif %}


                                        </div>
                                    </div>
                                    <div class="col-12">
                                        {{ reply.content }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}


            </div>
            {% if total>1 %}
                <div class="col-12 paginate">
                    <label onclick="gotoPage('{{ article.articleid }}','prev')">上一页</label>&nbsp;&nbsp;
                    {% for i in range(1,total) %}
                        <label onclick="gotoPage('{{ article.articleid }}','{{ loop.index }}')">{{ loop.index }}</label>
                        &nbsp;&nbsp;
                        {#                        {{ i+1}}#}
                    {% endfor %}
                    <label onclick="gotoPage('{{ article.articleid }}','next')">下一页</label>&nbsp;&nbsp;
                </div>
            {% endif %}
        </div>

    </div>
    {% include "side.html" %}
{% endblock %}




