
<script>
{#     Define the variables to be used first#}
{# 定位回复评论的id#}
    var COMMENTID = 0;
    {#Locate which page this is (in the comments)#}
    var PAGE = 1;
    {#Articles to determine the total number of#}
    var TOTAL = parseInt("{{total}}");
    // Read all articles
 function readAll() {
        var xiaohao = parseInt("{{article.credit}}")
        var btn = document.getElementById('get_ct_more_1');
        var obj = document.getElementById('content_t');
        var total_height = obj.scrollHeight;//Total height of article
        var show_height = 300;//Define the original display height
        var restOfCredit = parseInt("{{ restOfCredit }}")
        if (xiaohao === 0 || "{{article.paid}}" === "true") {
            if (total_height > show_height) {
                btn.style.display = 'block';
                obj.style.height = total_height + 'px';
                btn.style.display = 'none';
            }
            return false
        } else {
            if ("{{article.paid}}" === "false") {
                a = confirm("Determine consumption" + xiaohao + "Points to read articles?？"); //Pop-up dialog box on the page
                if (a === true) {
                    if (xiaohao > restOfCredit) {
                        bootbox.alert({title: "Error Alert", message: "Not enough points to read articles"})
                        qingti("Insufficient points")
                        return false
                    }
                    var parm = "articleid={{article.articleid}}"
                    $.post("/readAll", parm, function (data) {
                        if (data === "1") {
                            if (total_height > show_height) {
                                btn.style.display = 'block';
                                obj.style.height = total_height + 'px';
                                btn.style.display = 'none';
                            }
                            qingti("You also currently have" + (restOdCredit - xiaohao) + "Points")
                            return false
                        }
                    })
                } else {
                    return false;

                }


            }

        }


    }
</script>


<style>
    .article-detail .content_t {
        padding: 10px 12px 48px;
        font-size: 18px;
        color: #2b2b2b;
        line-height: 1.7em;
        height: 700px; /*Initial height to be displayed*/
        overflow: hidden; /*Key style: the content is trimmed and the rest of the content is invisible。*/
        position: relative;

    }

    .article-detail .get_ct_more_1 button {
        height: 45px;
        background-color: #337ab7;
        border: 0;
        border-radius: 5px;
        color: white;
        font-weight: bold;
    }

    .article-detail .get_ct_more_1 {
        height: 78px;
        position: absolute;
        bottom: 0px;
        width: 100%;
        background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0) 70%);
        margin: 0px;
        margin-right: 10px
    }

    .article-detail .get_ct_more_2 button {
        height: 45px;
        background-color: #337ab7;
        border: 0;
        border-radius: 5px;
        color: white;
        font-weight: bold;
    }

    .article-detail .get_ct_more_2 {
        height: 78px;
        position: absolute;
        bottom: 0px;
        width: 100%;
        background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0) 70%);
        margin: 0px;
        margin-right: 10px
    }

    .article-detail .readall {
        margin: 20px 35px;
        text-align: center;
    }

    .article-detail .readall button {
        height: 45px;
        background-color: #337ab7;
        border: 0;
        border-radius: 5px;
        color: white;
        font-weight: bold;
    }

    /*    */

</style>
{% extends "baseArticle.html" %}
{% block artical %}
    <div class="col-lg-9 col-sm-12" style="padding-top:11px ">
        <div class="col-12 row article-detail">
            <div class="col-9 title">
                {{ article.headline }}
            </div>
            <div class="col-3 favorite" onclick="test()">
                {% if is_favorite==True %}
                    <label class="favorite-btn" onclick="cancel_favorite('{{ article.articleid }}')"><span
                            class="oi oi-heart"
                            aria-hidden="true" style="color: red"></span>
                        Cancel Favorites</label>
                {% elif is_favorite==False %}
                    <label class="favorite-btn" onclick="add_favorite('{{ article.articleid }}')"><span
                            class="oi oi-heart "
                            aria-hidden="true"></span>
                        Collected Articles</label>
                {% else %}
                    <label class="favorite-btn"><span
                            class="oi oi-heart "
                            aria-hidden="true"></span>
                        Login can favorite</label>
                {% endif %}
            </div>
            <div class="col-12 info">
                Author: {{ article.nickname }}&nbsp;&nbsp;Category: {{ article_type[article.type | string] }}&nbsp;&nbsp;
                Date: {{ article.createtime }}&nbsp;&nbsp;
                Reads: {{ article.readcount }}&nbsp;&nbsp;Points consumption: <font
                    color="red">{{ article.credit }}</font>
            </div>
            <div class="col-12 content_t" id="content_t">
                {{ article.content | safe }}
                {% if session.get("userid")==articleOfUserid %}
                    <button class="form-control btn-primary col-2" onclick="modifyArticle({{ articleid }})">Modify
                        article
                    </button>
                {% endif %}
            </div>

            <div class="col-12 readall ">
                {% if session.get("islogin")=="true" %}
                    <div onclick="readAll()">
                        <button class="col-sm-10 col-12 get_ct_more_1" id="get_ct_more_1" style="display:block;">
                            {% if article.credit==0 or article.paid=="true" %}
                                <span class="oi oi-data-transfer-download" aria-hidden="true"></span> Click to read the full article
                            {% else %}
                                <span class="oi oi-data-transfer-download" aria-hidden="true"></span> Read the full article Consume points：
                                {{ article.credit }} Score
                            {% endif %}
                        </button>
                    </div>

                {% else %}}
                    <div href="#" onclick="showLogin()">
                        <button class="col-sm-10 col-12 get_ct_more_2" id="get_ct_more_2" style="display:block;">
                            <span class="oi oi-data-transfer-download" aria-hidden="true"></span> Login to view full text
                        </button>
                    </div>

                {% endif %}
            </div>

        </div>


        <div class="col-12 article-nav">
            <div><a href="/article/{{ prev_next.prev_id }}">Previous:{{ prev_next.prev_headline }}</a></div>
            <div><a href="/article/{{ prev_next.next_id }}">Next:{{ prev_next.next_headline }}</a></div>
        </div>
        <!-- Article Comments -->
        <div class="col-12 article-comment">
            <div class="col-12 row">
                <div class="col-2">
                    <label for="nickname">Nickname：</label>
                </div>

                <div class="col-10">
                    {% if session.get("islogin") %}
                        <input type="text" id="nickname_1" class="form-control" value="{{ session.get('nickname') }}"
                               readonly/>
                    {% else %}
                        <input type="text" id="nickname_2" class="form-control" value="You are not logged in, double click here to log in" readonly
                               ondblclick="showLogin()"/>
                    {% endif %}
                </div>

            </div>

            <div class="col-12 row" style="padding-top: 10px">
                <div class="col-2">
                    <label for="comment">Comments：</label>
                </div>
                <div class="col-10">
                    <textarea class="form-control " style="height: 100px" id="comment"></textarea>
                </div>
            </div>

            <div class="col-12 row" style="padding-top: 10px">
                <div class="col-12" style="text-align: right">
                    {% if session.get("islogin")=="true" %}
                        <button class="btn btn-primary" onclick="addCommnet('{{ article.articleid }}')"
                                style="margin-bottom:8px;"
                                id="submitBtn">Submit a comment
                        </button>
                        <button type="button" class="btn btn-primary" onclick="replyComment('{{ article.articleid }}')"
                                style="display: none;margin-bottom:8px;" id="replyBtn">Reply to a comment
                        </button>
                    {% else %}
                        <button class="btn btn-primary" onclick="showLogin()" style="margin-bottom:8px;">Click to login</button>
                    {% endif %}
                </div>
            </div>

            <div id="commentDiv">


                {% for comment in comment_list %}
                    {% set thisIndex=loop.index0 %}
                    <div class="col-12 list row" id="returnArticle{{ thisIndex }}" style="">
                        <div class="col-2 icon">
                            <img  src="/static/img/avatar/{{ comment['avatar'] }}" class="img-fluid img-circle"
                                 style="width: 80px;height: 80px;border-radius: 50%" />
                        </div>
                        <div class="col-10 comment">
                            <div class="col-12 row" style="padding: 0px">
                                <div class="col-7 commenter">{{ comment.nickname }}&nbsp;&nbsp;&nbsp;{{ comment.createment }}</div>
                                <div class="col-5 reply">
                                    <!--                        Article authors, administrators and commenters can only reply and delete comments, not likes-->
                                    {% if article.userid==session.get("userid") or session.get("role")=="admin" or
                            comment.userid==session.get("userid") %}
                                        <label onclick="gotoReply('{{ comment.commentid }}')">
                                            <span class="oi oi-arrow-circle-right" aria-hidden="true"
                                                  style="color:#337ab7;"></span>Reply
                                        </label>&nbsp;&nbsp;&nbsp;
                                        <label onclick="hideComment(this,'{{ comment.commentid }}',1,{{ thisIndex }},-1)">
                                            <span class="oi oi-delete" aria-hidden="true"></span>Delete Comments
                                        </label>
                                    {% else %}

                                        <label onclick="gotoReply('{{ comment.commentid }}')">
                                            <span class="oi oi-arrow-circle-right" aria-hidden="true"></span>Reply
                                        </label>&nbsp;&nbsp;
                                        {% if comment["agreeOrdisAgreeType"]==1 %}
                                            <label onclick="cancle_agreeComment(this,'{{ comment.commentid }}','{{ comment["agreecount"] }}')"
                                                   style="visibility: visible;" id="agreeComment1">
                                            <span class="oi oi-chevron-bottom"
                                                  aria-hidden="true"></span><font
                                                    color="red">Cancel Favor(<span>{{ comment["agreecount"] }}</span>)</font>
                                            </label>&nbsp;&nbsp;
                                            <label onclick="opposeComment(this,'{{ comment.commentid }}','{{ comment["opposecount"] }}')"
                                                   style="visibility: hidden;" id="opposeComment1">
                                                <font color=""><span class="oi oi-x"
                                                                     aria-hidden="true"></span>Against(<span>{{ comment["opposecount"] }}</span>)</font>
                                            </label>
                                        {% elif comment["agreeOrdisAgreeType"]==-1 %}
                                            <label onclick="agreeComment(this,'{{ comment.commentid }}','{{ comment["agreecount"] }}')"
                                                   style="visibility: hidden;" id="agreeComment1">
                                            <span class="oi oi-chevron-bottom"
                                                  aria-hidden="true"></span><font>Agree(<span>{{ comment["agreecount"] }}</span>)</font>
                                            </label>&nbsp;&nbsp;

                                            <label onclick="cancle_opposeComment(this,'{{ comment.commentid }}','{{ comment["opposecount"] }}')"
                                                   style="visibility: visible;" id="opposeComment1">
                                                <font color="red"><span class="oi oi-x"
                                                                        aria-hidden="true"></span>Cancel
                                                    Objections(<span>{{ comment["opposecount"] }}</span>)</font>
                                            </label>
                                        {% else %}
                                            <label onclick="agreeComment(this,'{{ comment.commentid }}','{{ comment["agreecount"] }}')"
                                                   style="visibility: visible;" id="agreeComment1">
                                            <span class="oi oi-chevron-bottom"
                                                  aria-hidden="true"></span><font>Agree(<span>{{ comment["agreecount"] }}</span>)</font>
                                            </label>&nbsp;&nbsp;

                                            <label onclick="opposeComment(this,'{{ comment.commentid }}','{{ comment["opposecount"] }}')"
                                                   style="visibility: visible;" id="opposeComment1">
                                                <font color=""><span class="oi oi-x"
                                                                     aria-hidden="true"></span>Against(<span>{{ comment["opposecount"] }}</span>)</font>
                                            </label>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12 content">
                                {{ comment.content }}
                            </div>
                        </div>
                    </div>
                    <!--        Reply to a comment-->
                    {% if comment["reply_list"] %}
                        {% for reply in comment["reply_list"] %}
                            {% set thatIndex=loop.index0 %}
                            <div class="col-12 list row" id="returnComment{{ thisIndex }}{{ thatIndex }}" style="">
                                {#                            style="display: block" id="returnArticle2"#}
                                <div class="col-2 icon">
                                    <img src="/static/img/avatar/{{ reply['avatar'] }}" class="img-fluid"
                                         style="width: 55px;height: 55px ;border-radius: 50%"/>
                                </div>

                                <div class="col-10 comment" style="border: solid 1px #ccc">
                                    <div class="col-12 row" style="padding-left: 15px">
                                        <div class="col-7 commenter" style="color: #337ab7">{{ reply.nickname }}&nbsp;&nbsp;Reply&nbsp;&nbsp;{{ comment.nickname }}
                                            &nbsp;&nbsp;&nbsp;{{ reply.createment }}
                                        </div>
                                        <div class="col-5 reply">
                                            {#                                        The administrator or the author can choose to delete the comment if the comment#}
                                            {% if article.userid==session.get("userid") or session.get("role")=="admin" or
                            comment.userid==session.get("userid") %}
                                                <label onclick="hideComment(this,'{{ comment.commentid }}',2,{{ thisIndex }},{{ thatIndex }})">
                                                    <span class="oi oi-delete" aria-hidden="true"></span>Delete Comments
                                                </label>
                                            {% else %}
                                                {% if comment["agreeOrdisAgreeType"]==1 %}

                                                    <label onclick="cancle_agreeComment(this,'{{ comment.commentid }}','{{ comment["agreecount"] }}')"
                                                           style="visibility: visible;" id="agreeComment1">
                                            <span class="oi oi-chevron-bottom"
                                                  aria-hidden="true"></span><font
                                                            color="red">Cancel Favor(<span>{{ comment["agreecount"] }}</span>)</font>
                                                    </label>&nbsp;&nbsp;

                                                    <label onclick="opposeComment(this,'{{ comment.commentid }}','{{ comment["opposecount"] }}')"
                                                           style="visibility: hidden;" id="opposeComment1">
                                                        <font color=""><span class="oi oi-x"
                                                                             aria-hidden="true"></span>Against(<span>{{ comment["opposecount"] }}</span>)</font>
                                                    </label>
                                                {% elif comment["agreeOrdisAgreeType"]==-1 %}
                                                    <label onclick="agreeComment(this,'{{ comment.commentid }}','{{ comment["agreecount"] }}')"
                                                           style="visibility: hidden;" id="agreeComment1">
                                            <span class="oi oi-chevron-bottom"
                                                  aria-hidden="true"></span><font>Agree(<span>{{ comment["agreecount"] }}</span>)</font>
                                                    </label>&nbsp;&nbsp;

                                                    <label onclick="cancle_opposeComment(this,'{{ comment.commentid }}','{{ comment["opposecount"] }}')"
                                                           style="visibility: visible;" id="opposeComment1">
                                                        <font color="red"><span class="oi oi-x"
                                                                                aria-hidden="true"></span>Cancel Objections(<span>{{ comment["opposecount"] }}</span>)</font>
                                                    </label>
                                                {% else %}
                                                    <label onclick="agreeComment(this,'{{ comment.commentid }}','{{ comment["agreecount"] }}')"
                                                           style="visibility: visible;" id="agreeComment1">
                                            <span class="oi oi-chevron-bottom"
                                                  aria-hidden="true"></span><font>Agree(<span>{{ comment["agreecount"] }}</span>)</font>
                                                    </label>&nbsp;&nbsp;

                                                    <label onclick="opposeComment(this,'{{ comment.commentid }}','{{ comment["opposecount"] }}')"
                                                           style="visibility: visible;" id="opposeComment1">
                                                        <font color=""><span class="oi oi-x"
                                                                             aria-hidden="true"></span>Against(<span>{{ comment["opposecount"] }}</span>)</font>
                                                    </label>
                                                {% endif %}
                                            {% endif %}


                                        </div>
                                    </div>
                                    <div class="col-12">
                                        {{ reply.content }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}


            </div>
            {% if total>1 %}
                <div class="col-12 paginate">
                    <label onclick="gotoPage('{{ article.articleid }}','prev')">Previous page</label>&nbsp;&nbsp;
                    {% for i in range(1,total) %}
                        <label onclick="gotoPage('{{ article.articleid }}','{{ loop.index }}')">{{ loop.index }}</label>
                        &nbsp;&nbsp;
                        {#                        {{ i+1}}#}
                    {% endfor %}
                    <label onclick="gotoPage('{{ article.articleid }}','next')">Next page</label>&nbsp;&nbsp;
                </div>
            {% endif %}
        </div>

    </div>
    {% include "side.html" %}
{% endblock %}




