<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用户后台管理系统</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/toastr.min.css">
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/myFunction.js"></script>
    <script src="/static/js/bootbox.min.js"></script>
    <script src="/static/js/toastr.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/admin-scripts.js"></script>

</head>

<body class="user-select">
<section class="container-fluid">
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span
                            class="sr-only">切换导航</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                        <span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="/">返回主页</a></div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/logout" onClick="if(!confirm('是否确认退出？'))return false;">退出登录</a></li>
                        <li><a data-toggle="modal" data-target="#WeChat">帮助</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="row">
        {% block content %}
        {% endblock %}
    </div>
</section>

<!--微信二维码模态框-->
<div class="modal fade user-select" id="WeChat" tabindex="-1" role="dialog" aria-labelledby="WeChatModalLabel">
    <div class="modal-dialog" role="document" style="margin-top:120px;max-width:280px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="WeChatModalLabel" style="cursor:default;">微信扫一扫</h4>
            </div>
            <div class="modal-body" style="text-align:center"><img src="/static/img/manage/weixin.jpg" alt=""
                                                                   style="cursor:pointer"/></div>
        </div>
    </div>
</div>



<script type="text/javascript">

　　function myfun_3(){ 　
    $.get("/controlBiaoNum",function (data){
        if (data==="0"){
            return false
        }
        else if(data==="1") {
            changeUserManageModel('myArticle_1')
        }
        else if (data==="2"){
            changeUserManageModel('myComment_1')
        }
        else if (data==="3"){
            changeUserManageModel('myCredit_1')
        }
        else if (data==="4"){
            changeUserManageModel('myContact_1')
        }
        else if (data==="5"){
            changeUserManageModel('myLog_1')
        }
        else if (data==="6"){
            changeUserManageModel('myFavo_1')
        }
        else if (data==="7"){
            changeUserManageModel('getCredit_1')
        }

    })
    　


} 　　
window.onload = myfun_3;//不要括号
</script>

</body>
</html>
