{% extends "baseArticle.html" %}
{% block content %}
    {#<img src="/static/img/404.png">#}
<div><h2 style="color: red">There is an unknown error, please contact the administrator</h2></div>
    <div><h2 style="color: red">Administrator email is <font color="#4169e1">{{ myemail }}</font></h2></div>
    <div class="col-12" style="margin: auto">
        <img src="/static/img/error/error-500.png" class="img-fluid">
    </div>
<div><h4 style="color: red">There is an unknown error, three seconds later it will jump to the home page</h4></div>
    <script>
        setTimeout(function () {
            location.href = "/";
        }, 3000)
    </script>
{% endblock %}