{% extends "baseArticle.html" %}
{% block content %}
    {#<img src="/static/img/404.png">#}
    <div><h2 style="color: red">出现未知错误，请联系管理员</h2></div>
    <div><h2 style="color: red">管理员邮箱为 <font color="#4169e1">{{ myemail }}</font></h2></div>
    <div class="col-10" style="">
        <img src="/static/img/error/error-404.jpg" class="img-fluid">
    </div>
    <div><h4 style="color: red">出现未知错误，四秒后将跳转到主页</h4></div>

    <script>
        setTimeout(function () {
            location.href = "/";
        }, 4000)
    </script>
{% endblock %}