{% extends "baseArticle.html" %}
{% block content %}
    {#<img src="/static/img/404.png">#}
    <div><h2 style="color: red">There is an unknown error, please contact the administrator</h2></div>
    <div><h2 style="color: red">Administrator email is <font color="#4169e1">{{ myemail }}</font></h2></div>
    <div class="col-10" style="">
        <img src="/static/img/error/error-404.jpg" class="img-fluid">
    </div>
    <div><h4 style="color: red">An unknown error has occurred and will jump to the home page after four seconds</h4></div>

    <script>
        setTimeout(function () {
            location.href = "/";
        }, 4000)
    </script>
{% endblock %}