<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reviewDraft</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/config.css">
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>


    {# Importing Responsive Settings#}
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
</head>
<body>
<div class="col-lg-12 col-sm-12" style="padding-top:11px ">
    <div class="col-12 row article-detail">
        <div class="col-9 title">
            {{ article.headline }}
        </div>
        <div class="col-12 info">
            Author: {{ article.nickname }}&nbsp;&nbsp;Category: {{ article_type[article.type | string] }}&nbsp;&nbsp;
            Date: {{ article.createtime }}&nbsp;&nbsp;
            Reads: {{ article.readcount }}&nbsp;&nbsp;Points consumption: <font
                color="red">{{ article.credit }}</font>
        </div>
        <div class="col-12 content_t" id="content_t">
            {{ article.content | safe }}
        </div>
    </div>


</div>
</body>
</html>