<style>
    .guding {
        position: sticky;
        top: 0;
    {#background-color: green;#}{#border: 2px solid #4CAF50;#}
    }

</style>
<div class="col-lg-3 col-sm-12" style="border: none;padding-right: 0;padding-top: 13px">

    <div class="col-12 search-bar form-group row">
        <div class="col-8">
            <input type="text" class="form-control" id="keyword" placeholder="请输入关键字" onkeyup="dosearch(event)"/>
        </div>
        <div class="col-4" style="text-align:right;">
            <button type="button" class="btn btn-primary" onclick="dosearch(null)">搜索</button>
        </div>
    </div>

    {# 推荐#}
    <div class="col-12 side">
        <div class="tip">最新文章</div>
        <ul id="last"></ul>
    </div>

    <div class="col-12 side">
        <div class="tip">最多阅读</div>
        <ul id="most"></ul>
    </div>

    <div class="col-12 side guding">
        <div class="tip">特别推荐</div>
        <ul id="recommmended">
            {#            python的过滤器也可以这样做#}
            {#            {{ article_type["1"] | my_truncate(1) }}#}
        </ul>
    </div>

</div>

<script type="text/javascript">

    // 文档加载后开始执行 不需要触发
    $(document).ready(function () {
        //    第一步 发送Ajax请求/recommended 获取json
        $.get("/recommended", function (data) {
            //    获取响应，并动态填充到相应的推荐位置
            var lastData = data[0];
            var mostData = data[1];
            var recommendedData = data[2];

            for (var i in lastData) {
                var articleid = lastData[i][0]
                var headline = lastData[i][1]
                var id = parseInt(i) + 1
                $("#last").append('<li><a href="/article/' + articleid + '">' + (id) + '. ' + truncate(headline, 14) + '</a></li>')
            }

            for (var i in mostData) {
                var articleid = mostData[i][0]
                var headline = mostData[i][1]
                var id = parseInt(i) + 1
                $("#most").append('<li><a href="/article/' + articleid + '">' + (id) + '. ' + truncate(headline, 14) + '</a></li>')
            }

            for (var i in recommendedData) {
                var articleid = recommendedData[i][0]
                var headline = recommendedData[i][1]
                var id = parseInt(i) + 1
                $("#recommmended").append('<li><a href="/article/' + articleid + '">' + (id) + '. ' + truncate(headline, 14) + '</a></li>')
            }


        })
    });
</script>