<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <meta charset="UTF-8">
    <title>文章高度展开</title>
    <style>
        .article-detail .content {
            padding: 10px 12px 48px;
            font-size: 18px;
            color: #2b2b2b;
            line-height: 1.7em;
            height: 700px; /*初始要显示的高度*/
            overflow: hidden; /*关键样式：内容会被修剪，并且其余内容是不可见的。*/
            position: relative;
        }

        .article-detail .get_ct_more button {
            height: 45px;
            background-color: #337ab7;
            border: 0;
            border-radius: 5px;
            color: white;
            font-weight: bold;
        }

        .article-detail .get_ct_more {
            height: 78px;
            position: absolute;
            bottom: 0px;
            width: 100%;
            background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0) 70%);
            margin: 0px;
            margin-right: 10px
        }

        .article-detail .readall {
            margin: 20px 100px;
            text-align: center;
        }

        .article-detail .readall button {
            height: 45px;
            background-color: #337ab7;
            border: 0;
            border-radius: 5px;
            color: white;
            font-weight: bold;
        }

        /*    */

    </style>
</head>
<body>
<div class="col-12 row article-detail">

    <div id="content" class="content">
        <section>
            <blockquote
                    style="margin: 1em 0px; padding: 4px 0.5em 0px; border-left: 3px solid rgb(219, 219, 219); color: rgba(0, 0, 0, 0.498039); font-size: 15px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; font-family: -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif; letter-spacing: 0.544px; white-space: normal; background-color: rgb(255, 255, 255);">
                <p style="line-height: 1.75em;"><span
                        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-size: 16px;"><span
                        style="margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体, SimSun;">本周分享</span><strong
                        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; color: rgb(101, 101, 101);">《测试用例设计》</strong><span
                        style="margin: 0px; max-width: 100%; font-family: 宋体, SimSun;">实验内容，由于知识含量较多，现在拆分为多篇分享，今日是第一篇。</span></span>
                </p>
                <p style="line-height: 1.75em;"><span
                        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体, SimSun; font-size: 16px;">回顾上周内容，请点击<img
                        src="http://img.baidu.com/hi/face/i_f46.gif"/>：</span></p>
                <p style="line-height: 1.75em;"><a target="_blank"
                                                   href="http://mp.weixin.qq.com/s?__biz=MzA4MTg5OTg3OQ==&mid=2649815108&idx=4&sn=bb97e4b563062a377a432c3944bb8f1d&chksm=8789a04cb0fe295a6b87a83fd274d38960f5c88ca28469a5aaa873b8568bc1e22fe43e0a8ebb&scene=21#wechat_redirect"
                                                   style="margin: 0px; padding: 0px; color: rgb(87, 107, 149); text-decoration: underline; cursor: pointer; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体, SimSun; font-size: 16px;"><span
                        style="font-family: 宋体, SimSun; font-size: 16px;">教材连载：软件测试六<span
                        style="margin: 0px; padding: 0px; color: rgb(87, 107, 149); text-decoration: underline; cursor: pointer; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-size: 16px; font-family: 宋体, SimSun;">大类型（二）</span></span></a><br/>
                </p></blockquote>
            <p style="line-height: 1.75em;"><span
                    style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体, SimSun; color: rgb(98, 98, 98); font-size: 16px;"><br/></span>
            </p>
            <p style="line-height: 1.75em;"><span
                    style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体, SimSun; color: rgb(98, 98, 98); font-size: 36px;"><br/></span>
            </p>
            <section>
                <section>
                    <section>
                        <section>
                            <section>
                                <section><p style="line-height: 1.75em; text-align: center;"><span
                                        style="font-family: 宋体, SimSun; color: rgb(79, 129, 189); font-size: 36px;">&nbsp;<strong
                                        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">实 验 简 介</strong>&nbsp;</span>
                                </p></section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
            <br/>
            <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; line-height: 1.75em;">
                <span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(98, 98, 98); font-size: 16px; font-family: 宋体, SimSun;"></span>
            </p>
            <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; line-height: 1.75em;">
                <span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(98, 98, 98); font-family: 宋体, SimSun; font-size: 16px;">本实验主要讲解测试用例设计方法，包括等价类</span><span
                    style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(98, 98, 98); font-size: 16px; font-family: 宋体, SimSun;"><span
                    style="margin: 0px; padding: 0px; max-width: 100%; font-size: 16px;">，边界值，正交试验表，判定表，流程分析法</span>，<span
                    style="margin: 0px; padding: 0px; max-width: 100%; font-size: 16px;">状态迁移法，错误猜测等。</span></span></p>
            <section><br/></section>
            <section><br/></section>
            <section><br/></section>
            <section>
                <section>
                    <section>
                        <section>
                            <section>
                                <section><p style="line-height: 1.75em; text-align: center;"><span
                                        style="font-size: 36px; font-family: 宋体, SimSun; color: rgb(79, 129, 189);">&nbsp;<strong
                                        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">实&nbsp;验 目 的</strong>&nbsp;</span>
                                </p></section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
            <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; line-height: 1.75em;">
                <span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体, SimSun; color: rgb(98, 98, 98); font-size: 16px;"><br/></span>
            </p>
            <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; line-height: 1.75em;">
                <span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体, SimSun; color: rgb(98, 98, 98); font-size: 16px;">(1)、掌握测试用例设计方法，以便设计高效的测试用例。</span>
            </p>
            <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; clear: both; min-height: 1em; line-height: 2em;">
                <br/></p>
            <section><br/></section>
            <section>
                <section>
                    <section>
                        <section>
                            <section>
                                <section><p style="line-height: 1.75em; text-align: center;"><span
                                        style="font-size: 36px; font-family: 宋体, SimSun; color: rgb(79, 129, 189);">&nbsp;<strong
                                        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">实&nbsp;验 流 程</strong>&nbsp;</span>
                                </p></section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
            <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; line-height: 1.75em;">
                <span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体, SimSun; color: rgb(98, 98, 98); font-size: 16px;"><br/></span>
            </p>
            <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; line-height: 1.75em;">
                <span style="font-size: 16px;"><strong
                        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"><span
                        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体, SimSun; color: rgb(98, 98, 98);">1.等价类</span></strong><strong
                        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"><span
                        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体, SimSun; color: rgb(98, 98, 98);"></span></strong><strong
                        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"></strong><strong
                        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"><span
                        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体, SimSun; color: rgb(98, 98, 98);"></span></strong><span
                        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体, SimSun; color: rgb(98, 98, 98);"></span></span>
            </p>
            <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; clear: both; min-height: 1em; line-height: 2em;">
                <br/></p>
            <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; line-height: 1.75em;">
                <span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体, SimSun; color: rgb(98, 98, 98); font-size: 16px;">等价类划分主要适用于单个输入条件，输入为特定数据类型的情况，如果输入规定了输入区间，可划分出一个有效等价类，两个无效等价类；如果输入只规定了输入范围，可划分出一个有效等价类，一个无效等价类。</span>
            </p>
            <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; line-height: 1.75em;">
                <span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体, SimSun; color: rgb(98, 98, 98); font-size: 16px;"><br/></span>
            </p>
            <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; line-height: 1.75em;">
                <span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体, SimSun; color: rgb(98, 98, 98); font-size: 16px;">(<span
                        style="margin: 0px; padding: 0px; max-width: 100%; color: rgb(98, 98, 98); font-size: 16px;">1). 有效等价类：有效等价类是程序规格说明有意义，合理的输入数据。</span></span>
            </p>
            <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; line-height: 1.75em;">
                <span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体, SimSun; color: rgb(98, 98, 98); font-size: 16px;">(2). 无效等价类：有<span
                        style="margin: 0px; padding: 0px; max-width: 100%; color: rgb(98, 98, 98); font-size: 16px;">效等价类是程序规格说明无意义，不合理的输入数据。</span></span>
            </p>
            <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; line-height: 1.75em;">
                <span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体, SimSun; color: rgb(98, 98, 98); font-size: 16px;">其实等价类的本质就是：假定程序员在设计程序时没有过多的考虑和检验数据类型不匹配的情况。</span>
            </p>
            <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; clear: both; min-height: 1em; line-height: 2em;">
                <br/></p>
            <ul class=" list-paddingleft-2" style="list-style-type: disc;">
                <li>
                    <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; line-height: 1.75em;">
                        <span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体, SimSun; color: rgb(98, 98, 98); font-size: 16px;">n 等价类划分原则：<span
                                style="margin: 0px; padding: 0px; max-width: 100%; color: rgb(98, 98, 98);"><br/>(1)<span
                                style="box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体, SimSun; margin: 0px; padding: 0px; max-width: 100%; color: rgb(98, 98, 98);">.如果输入条件规定了取值范围或值的个数，则可以确定一个有效等价类和两个无效等价类</span></span></span>
                    </p>
                    <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; line-height: 1.75em;">
                        <span style="font-size: 16px;"><span
                                style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体, SimSun; font-size: 15px; color: rgb(98, 98, 98);"></span><span
                                style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(98, 98, 98); font-family: 宋体, SimSun; font-size: 15px;">(2)<span
                                style="margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体, SimSun; font-size: 16px;">.输入条件规定了输入值的集合，或是规定了必须如何的条件，则可以确定一个有效等价类和一个无效等价类</span><br/>(3).<span
                                style="margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体, SimSun; font-size: 16px;">在输入条件是一个布尔量的情况下，可确定一个有效等价类和一个无效等价类</span><br/>(4).<span
                                style="margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体, SimSun; font-size: 16px;">如果我们确知，已经划分的等价类中各个元素在程序中的处理方式不同的，则应<span
                                style="box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(98, 98, 98); margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体, SimSun; font-size: 16px;">该将此等价类进一步划分</span></span><br/></span><span
                                style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体, SimSun; font-size: 15px; color: rgb(98, 98, 98);">(5)<span
                                style="margin: 0px; padding: 0px; max-width: 100%; color: rgb(98, 98, 98); font-size: 16px;">.在规定了输入数据必须遵守的规则的情况下，可确立一个有</span>效等价类</span><span
                                style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体, SimSun; color: rgb(178, 178, 178); font-size: 16px;">（符合规则）</span><span
                                style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体, SimSun; color: rgb(98, 98, 98); font-size: 16px;">和若干个无效等价类</span><span
                                style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体, SimSun; color: rgb(178, 178, 178); font-size: 16px;">（从不同角度违反规则）</span></span>
                    </p></li>
            </ul>
            <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; line-height: 1.75em;">
                <span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体, SimSun; color: rgb(178, 178, 178); font-size: 16px;"></span>
            </p>
            <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; clear: both; min-height: 1em; line-height: 2em;">
                <br/></p>
            <ul class=" list-paddingleft-2" style="list-style-type: disc;">
                <li>
                    <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; line-height: 1.75em;">
                        <span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体, SimSun; color: rgb(98, 98, 98); font-size: 16px;">n 等价类表：</span>
                    </p></li>
            </ul>
            <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; line-height: 1.75em;">
                <img src="https://mmbiz.qpic.cn/mmbiz_png/ILm0xDqJHP1b3HX87bT7fz2Vam2KfSAkW1kO7kvVgNUxHs0ia1sHwRld8d1Z3Ps4snare0iavNSRjcXC7wDGcOzw/640?wx_fmt=gif&tp=webp&wxfrom=5&wx_lazy=1&wx_co=1"
                     class=""/><span
                    style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体, SimSun; color: rgb(98, 98, 98); font-size: 16px;"></span>
            </p>
            <p style="line-height: 1.75em;"><img src="/upload/202003/20200317_100138.jpg"
                                                 title="微信图片_20200317100121.jpg" alt="微信图片_20200317100121.jpg"/></p>
            <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; clear: both; min-height: 1em; line-height: 2em;">
                <br/></p>
            <ul class=" list-paddingleft-2" style="list-style-type: disc;">
                <li>
                    <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; line-height: 1.75em;">
                        <span style="font-family: 宋体, SimSun; margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(98, 98, 98); font-size: 16px;">n 等价类法设计测试用例的步骤：<br/>(1). 为每个输入划分等价类，得到等价类表，为每个等价类规定一个唯一编号。<br/>(2). 设计一个测试用例，使其尽可能多的覆盖所有尚未覆盖的有效等价类。重复这一步骤，使得有效等价类均被测试用例所覆盖。<br/>(3). 设计一个测试用例，使其只覆盖一个无效等价类。重复这一步骤使得所有无效等价类均被覆盖。</span>
                    </p></li>
            </ul>
            <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; clear: both; min-height: 1em; line-height: 2em;">
                <br/></p>
            <ul class=" list-paddingleft-2" style="list-style-type: disc;">
                <li>
                    <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; line-height: 1.75em;">
                        <span style="font-size: 16px;"><span
                                style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体, SimSun; color: rgb(98, 98, 98);">n 应用举例一：<br/></span><span
                                style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(98, 98, 98); font-family: 宋体, SimSun;">一个输入框有1到100整数的合法输入，那正确的数据有100个，那我们需要设计100个用例去测试吗？当然不是，我们只取其中一个正确的值来代表正确的数据这一类。按照这个思路可以分为以下几类来设计用例：<br/>(1).正确的整数<br/>(2).大于100或小于1的整数<br/>(3).1到100中的小数<br/>(4).其他字母等非法字符</span></span>
                    </p></li>
            </ul>
            <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; clear: both; min-height: 1em; line-height: 2em;">
                <br/></p>
            <ul class=" list-paddingleft-2" style="list-style-type: disc;">
                <li>
                    <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; line-height: 1.75em;">
                        <span style="font-size: 16px;"><span
                                style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体, SimSun; color: rgb(98, 98, 98);">n</span><span
                                style="font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体, SimSun; color: rgb(98, 98, 98);"> 应用举例二：<br/></span><span
                                style="font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(98, 98, 98); font-family: 宋体, SimSun;">现有一个档案管理系统，容许用户通过输入年月对档案文件进行检索，系统对查询条件年月的输入限定为1990年1月~2049年12月，并规定：<br/>日期由6位数字字符组成，前4位表示年，后2位表示月。<br/><span
                                style="margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体, SimSun; font-size: 16px;">现用等价类划分法设计测试用例，来测试程序的&quot;日期检查功能&quot;。<br/>(1)划分等价类并编号,下表等价类划分的结果：</span></span></span>
                    </p>
                    <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; clear: both; min-height: 1em; line-height: 2em;">
                        <br/></p>
                    <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; line-height: 1.75em;">
                        <span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(98, 98, 98); font-family: 宋体, SimSun; font-size: 16px;">(2）设计测试用例，以便覆盖所有的有效等价类。</span>
                    </p>
                    <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; line-height: 1.75em;">
                        <span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(98, 98, 98); font-family: 宋体, SimSun; font-size: 16px;"><br/></span>
                    </p></li>
            </ul>
            <p style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; text-align: left; line-height: 1.75em;">
                <img src="/upload/202003/20200317_100145.png" title="微信图片_20200317100127.png"
                     alt="微信图片_20200317100127.png"/></p>
            <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; line-height: 1.75em;">
                <span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体, SimSun; color: rgb(98, 98, 98); font-size: 16px;">&nbsp; &nbsp;</span>
            </p>
            <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; line-height: 1.75em;">
                <span style="font-size: 16px;"><span
                        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体, SimSun; font-size: 15px; color: rgb(98, 98, 98);">&nbsp; &nbsp;<span
                        style="margin: 0px; padding: 0px; max-width: 100%; color: rgb(98, 98, 98); font-size: 16px;">测试数据&nbsp;期望结果&nbsp;覆盖的有效等价类</span><br/>&nbsp; &nbsp;<span
                        style="margin: 0px; padding: 0px; max-width: 100%; color: rgb(98, 98, 98); font-size: 16px;">200211 &nbsp;输入有效 &nbsp;①、⑤、⑧</span></span><span
                        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(98, 98, 98); font-family: 宋体, SimSun; font-size: 15px;"><br/></span></span>
            </p>
            <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; line-height: 1.75em;">
                <span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(98, 98, 98); font-family: 宋体, SimSun; font-size: 15px;"><br/></span>
            </p>
            <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; line-height: 1.75em;">
                <span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(98, 98, 98); font-family: 宋体, SimSun; font-size: 16px;">&nbsp; &nbsp;<span
                        style="margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体, SimSun; font-size: 16px;">(3）<span
                        style="box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(98, 98, 98); margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体, SimSun; font-size: 16px;">考虑测试用例设计角度，以便覆盖所有的无效等价类。</span></span></span>
            </p>
            <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; line-height: 1.75em;">
                <span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体, SimSun; color: rgb(98, 98, 98); font-size: 16px;">&nbsp;&nbsp;&nbsp;测试数据&nbsp;期望结果&nbsp;覆盖的无效等价类<br/>&nbsp;&nbsp;&nbsp;95June&nbsp;&nbsp;无效输入 &nbsp; &nbsp;&nbsp; ②<br/>&nbsp;&nbsp;&nbsp;20036&nbsp;&nbsp;无效输入 &nbsp; &nbsp;&nbsp; ③<br/>&nbsp;&nbsp;&nbsp;2001006&nbsp;无效输入 &nbsp; &nbsp;&nbsp; ④<br/>&nbsp;&nbsp;&nbsp;198912 &nbsp;无效输入 &nbsp; &nbsp; &nbsp;⑥<br/>&nbsp;&nbsp;&nbsp;205901 &nbsp;无效输入 &nbsp; &nbsp; &nbsp;⑦<br/>&nbsp; &nbsp; 200100&nbsp;&nbsp;无效输入 &nbsp; &nbsp; ⑨<br/>&nbsp; &nbsp; 200113&nbsp;&nbsp;无效输入 &nbsp; &nbsp; ⑩</span>
            </p>
            <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; clear: both; min-height: 1em; line-height: 2em;">
                <br/></p>
            <ul class=" list-paddingleft-2" style="list-style-type: disc;">
                <li>
                    <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; line-height: 1.75em;">
                        <span style="font-size: 16px;"><span
                                style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体, SimSun; color: rgb(98, 98, 98);">n 常见的能够划分等价类的地方：<br/></span><span
                                style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(98, 98, 98); font-family: 宋体, SimSun;">(1).数值范围<br/>(2).重复次数<br/>(3).字符串长度<br/>(4).字符串组中字符串的个数<br/>(5).文件命名<br/><span
                                style="margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体, SimSun;">(6).文件大小<br/>(7).可用内存大小<br/>(8).屏幕分辨率<br/>(9).屏幕颜色种类<br/>(10).操作系统版本<br/>(11).超时时间</span></span></span>
                    </p></li>
            </ul>
            <p style="margin: 0px 8px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; clear: both; min-height: 1em; line-height: 2em;">
                <br/></p></section>
        <p><br/></p>
        <p style="line-height: 1.75em;"><span style="font-size: 18px;"><strong
                style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"><span
                style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(98, 98, 98); font-family: 宋体, SimSun;">下周分享：测试用例设计（二）</span></strong><span
                style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(98, 98, 98); font-family: 宋体, SimSun;"></span><br/></span>
        </p>
        <p><br/></p><br/>

        <!--    <div id="get_ct_more" class="get_ct_more">-->
        <!--        <img src='more.png' class="more_bt" id="more_bt">-->
        <!--    </div>-->

    </div>
    <div class="col-12 readall ">
        <button class="col-sm-10 col-12 get_ct_more" id="get_ct_more" style="display:none;">
            <span class="oi oi-data-transfer-download" aria-hidden="true"></span> 阅读全文 消耗积分：分
        </button>
    </div>
</div>
<script>
    var btn = document.getElementById('get_ct_more');
    var obj = document.getElementById('content');
    var total_height = obj.scrollHeight;//文章总高度
    var show_height = 300;//定义原始显示高度
    if (total_height > show_height) {
        // window.alert(total_height);
        btn.style.display = 'block';
        btn.onclick = function () {
            obj.style.height = total_height + 'px';
            btn.style.display = 'none';
        }
    }
</script>


</body>
