{%  extends "baseManage.html" %}
{%  block content %}
<aside class="col-sm-3 col-md-2 col-lg-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a>我的资料</a></li>
      </ul>
      
      <ul class="nav nav-sidebar">
        <li><a>我的文章</a></li>
        <li><a>我的评论</a></li>
        <li><a>我的收藏</a></li>
        <li><a>登陆记录</a></li>
      <li><a>积分详情</a></li>

      </ul>
</aside>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">




    </div>

{% endblock %}