{% extends "baseArticle.html" %}
{% block writeConfig %}
    <script type="text/javascript" src="/static/ue/ueditor.config.js"></script>
    <script type="text/javascript" src="/static/ue/ueditor.all.min.js"></script>
    <script type="text/javascript" src="/static/ue/lang/{{ language }}"></script>
    <script type="text/javascript">
        var ue = UE.getEditor('content', {
            initialFrameHeight: 400,
            autoHeightEnabled: true,
            serverUrl: "/uedit",
            toolbars: [
                [
                    'source', //源代码

                    'undo', //撤销
                    'redo', //重做
                    'removeformat', //清除格式
                    'cleardoc', //清空文档


                    'bold', //加粗
                    'indent', //首行缩进
                    'italic', //斜体
                    'underline', //下划线
                    'strikethrough', //删除线
                    'subscript', //下标
                    // 'fontborder', //字符边框
                    'superscript', //上标
                    'formatmatch', //格式刷
                    'pasteplain', //纯文本粘贴模式
                    'selectall', //全选
                    // 'print', //打印
                    'horizontal', //分隔线
                    'date', //日期

                    'time', //时间
                    'link', //超链接

                    'unlink', //取消链接
                    'inserttitle', //插入标题
                    'customstyle', //自定义标题

                    'insertcode', //代码语言
                    'fontfamily', //字体
                    'fontsize', //字号
                    'paragraph', //段落格式]
                ],
                [
                    'simpleupload', //单图上传
                    'insertimage', //多图上传
                    'inserttable', //插入表格

                    'edittable', //表格属性
                    'emotion', //表情
                    'spechars', //特殊字符
                    'searchreplace', //查询替换
                    'justifyleft', //居左对齐
                    'justifyright', //居右对齐
                    'justifycenter', //居中对齐
                    'justifyjustify', //两端对齐
                    'forecolor', //字体颜色
                    'backcolor', //背景色
                    'insertorderedlist', //有序列表
                    'insertunorderedlist', //无序列表
                    'fullscreen', //全屏
                    'lineheight', //行间距
                    'edittip ', //编辑提示
                    'touppercase', //字母大写
                    'tolowercase', //字母小写
                    'background', //背景
                    'preview', //预览

                    'help', //帮助

                ]
            ]
        });
    </script>
{% endblock %}

{% block write %}
    <label for="headline" class="col-1">文章标题</label>
    <input type="text" class="col-11" id="headline" value="">
    </div>

    <div class="row">
        <script id="content" type="text/plain"  style="padding-top: 10px">
            {{ articleContent | safe }}
        </script>
    </div>

    <div class="row form-group" style="margin-top: 20px; padding-top: 10px;">
        <label for="type" class="col-1">类型： </label>
        <select class="form-control col-2" id="type">
            {# {{article_type[article.type |string]}}#}
            {% for k,v in article_type.items() %}
                <option value="{{ k }}">{{ v }}&nbsp;&nbsp;</option>
            {% endfor %}
        </select>
        <label class="col-1"></label>
        <label for="credit" class="col-1">积分：</label>
        <select class="form-control col-2" id="credit">
            <option value="0">免费</option>
            {% for k,v in listOfCredit.items() %}
                <option value="{{ k }}">{{ v }}</option>
            {% endfor %}
        </select>
        <label class="col-1"></label>
{#     函数里第一个参数是判断文章是否是第一次保存，是的话为-1,不是的话填写articleid 第二个参数用来判定这个按钮是什么用来提醒对应的信息 #}
{#    保存草稿为1 发布文章为2 投稿为3 修改文章为4#}

        <button class="form-control btn-default col-2" onclick="doPost('-1','1')" id="biaoji1">保存草稿</button>
        {% if whetherHide is false %}
        {% if session.get("role")=="editor" %}
            <button class="form-control btn-primary col-2" onclick="doPost('-1','2')" id="xiugaiwenzhang">发布文章</button>
        {% else %}
            <button class="form-control btn-primary col-2" onclick="doPost('-1','3')" id="xiugaiwenzhang">投稿</button>
        {% endif %}
        {% endif %}

        </select>
    </div>
    <div>





<script>
        function doPost(j,t) {
            t=parseInt(t)
            var headline = $.trim($("#headline").val());
            var contentPlain = UE.getEditor("content").getContentTxt();
            var maxUserPostArticleNum=parseInt({{ maxUserPostArticleNum }})
            var maxUserPostArticleNumOfEditor=parseInt({{ maxUserPostArticleNumOfEditor }})
            var maxModifyArticleNum=parseInt({{ maxModifyArticleNum }})
            var drafted
            var checked
            {# 草稿#}
            if (t===1){
                drafted=1
                checked=0
            }
            {#编辑投递#}
            else if(t===2){
                drafted=0
                checked=1
            }
            {#投递文章#}
            else if (t===3){
                drafted=0
                checked=0
            }
            {#修改文章#}
            else if(t===4){
                drafted=0
                checked=1
            }

            {# 要求输入的文章要满足响应的条件#}
            if (headline.length < 5) {
                bootbox.alert({title: "错误提示", message: "标题不能少于五个字"});
                return false;
            } else if (contentPlain.length < 100) {
                bootbox.alert({title: "错误提示", message: "内容不能低于100字"});
                return false;
            }

            var param = "headline=" + headline;
            param += "&content=" + encodeURIComponent(UE.getEditor("content").getContent());
            param += "&type=" + $("#type").val();
            param += "&credit=" + $("#credit").val();
            param += "&drafted="+drafted+"&checked="+checked+"&articleid=" + j+"&judgeType="+t;
            bootbox.confirm({
    title: "操作提示",
    message: "确认执行该操作",
    buttons: {
        cancel: {
            label: '<i class="fa fa-times"></i> 再考虑一下'
        },
        confirm: {
            label: '<i class="fa fa-check"></i> 确定'
        }
    },
    callback: function (result) {
        if (result.toString() ==="true" ){
        $.post("/article", param, function (data) {
                if (data == "invalided") {
                    bootbox.alert({title: "错误提示", message: "内容或标题字数太少，请检查后重试"});
                {#    发布失败#}
                } else if (data == "post-fail") {

                        bootbox.alert({title: "错误提示", message: "保存文章过程中出现错误，请联系管理员"});
                }
                else if(data==='limit-error-1'){
                        bootbox.alert({title: "错误提示", message: "保存草稿失败，每天最多保存"+maxUserPostArticleNum+"次，敬请谅解"});
                    }
                else if(data==='limit-error-2'){
                        bootbox.alert({title: "错误提示", message: "发布文章失败，编辑每天最多发布文章数量为"+maxUserPostArticleNumOfEditor+"次，敬请谅解"});
                    }
                else if(data==='limit-error-3'){
                        bootbox.alert({title: "错误提示", message: "每天最多投稿"+maxUserPostArticleNum+"次，敬请谅解"});
                    }
                else if (data==="modify-limited"){
                    bootbox.alert({title: "错误提示", message: "每天最多修改文章数量为"+maxModifyArticleNum+"次，敬请谅解"});
                }
                else if (data==="xiu"){
                    bootbox.alert({title: "信息提示", message: "修改草稿成功"});
                        qingti("保存草稿成功")
                }
                else{
                    if (t===1){
                        bootbox.alert({title: "信息提示", message: "保存草稿成功"});
                        qingti("保存草稿成功")
                    }
                    else if(t===2) {
                        bootbox.alert({title: "信息提示", message: "恭喜你，发布文章成功"});
                        setTimeout(function () {
                        location.href = "/article/" + data;
                    }, 1000)
                    $.get("/toTransmitParam",function (data){
                    var postArticleCredit=data["postArticleCredit"]
                qingti("发布文章成功，已增加"+postArticleCredit+"积分")

    })
                    }
                    else if (t===3){
                        bootbox.alert({title: "信息提示", message: "投稿成功，请等待管理员审核"});
                        $.get("/replyAndAddCommentCredit",function (data){
                    var postArticleCredit=data["postArticleCredit"]
                qingti("投稿成功，已增加"+postArticleCredit+"积分")

    })
                        setTimeout("location.reload();", 1500)
                    }
                    else if (t===4){
                        bootbox.alert({title: "信息提示", message: "恭喜你，修改文章成功"});
                        setTimeout(function () {
                       window.location.href = "/article/" + j;
                    }, 1000)
                        qingti("修改文章成功")
                    }
            }
                })
    }
    }
})




        }



    </script>
{% endblock %}

</div>